$themes: (
  light: (
    color-primary: red,
  ),
  dark: (
    color-primary: #409eff,
  ),
);

@each $theme, $colors in $themes {
  $selector: if($theme-name == light, ':root', 'html.dark');
  #{$selector} {
    --color-primary: #{map-get($colors, color-primary)};
  }
}
