@import '../common/var';

@mixin button-variant($color, $background-color, $border-color) {
  $hover-bg: mix($--color-white, $background-color, $--button-hover-tint-percent);
  $hover-border: mix($--color-white, $border-color, $--button-hover-tint-percent);
  $active-bg: mix($--color-black, $background-color, $--button-active-shade-percent);
  $active-border: mix($--color-black, $border-color, $--button-active-shade-percent);
  $disabled-bg: mix($background-color, $--color-white);
  $disabled-border: mix($border-color, $--color-white);
  $plain-bg: mix($--color-white, $background-color, 90%);
  $plain-border: mix($--color-white, $background-color, 60%);
  $plain-disabled-color: mix($--color-white, $background-color, 40%);
  $plain-disabled-bg: mix($--color-white, $background-color, 90%);
  $plain-disabled-border: mix($--color-white, $background-color, 80%);

  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background: $hover-bg;
    border-color: $hover-border;
    color: $color;
  }

  &:active {
    background: $active-bg;
    border-color: $active-border;
    color: $color;
    outline: none;
  }

  &.is-active {
    background: $active-bg;
    border-color: $active-border;
    color: $color;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-white;
      background-color: $disabled-bg;
      border-color: $disabled-border;
    }
  }

  &.is-plain {
    color: $background-color;
    background: $plain-bg;
    border-color: $plain-border;

    &:hover,
    &:focus {
      background: $background-color;
      border-color: $background-color;
      color: $--color-white;
    }

    &:active {
      background: $active-bg;
      border-color: $active-bg;
      color: $--color-white;
      outline: none;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $plain-disabled-color;
        background-color: $plain-disabled-bg;
        border-color: $plain-disabled-border;
      }
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
