$colors: (
  light: (
    primary: red,
  ),
  dark: (
    primary: blue,
  ),
);

@mixin theme-render($vars) {
  & {
    @content (map-get($vars, light), light);
  }

  // 其他主题
  @each $theme, $attrs in $vars {
    @if $theme != light {
      html.#{$theme} & {
        @content ($attrs, $theme);
      }
    }
  }
}

body {
  @include theme-render($colors) using ($attrs, $theme) {
    color: map-get($attrs, primary);
    theme: $theme;
  }
}
