:root {
  --color-border-default: #4c4d4f;
  --color-border-hover: #bfcadf;
  --color-border-active: #213e77;
  --color-border-disabled: #414243;
  --color-border-disabled-plain: #414243;
  --color-border-primary: #294e95;
  --color-border-primary-hover: #6983b5;
  --color-border-primary-disabled: #94a7ca;
  --color-border-primary-plain: #a9b8d5;
  --color-border-primary-plain-disabled: #d4dcea;
  --color-border-success: #67c23a;
  --color-border-success-hover: #95d475;
  --color-border-success-disabled: #b3e19d;
  --color-border-success-plain: #c2e7b0;
  --color-border-success-plain-disabled: #e1f3d8;
  --color-border-warning: #e6a23c;
  --color-border-warning-hover: #eebe77;
  --color-border-warning-disabled: #f3d19e;
  --color-border-warning-plain: #f5dab1;
  --color-border-warning-plain-disabled: #faecd8;
  --color-border-danger: #f56c6c;
  --color-border-danger-hover: #f89898;
  --color-border-danger-disabled: #fab6b6;
  --color-border-danger-plain: #fbc4c4;
  --color-border-danger-plain-disabled: #fde2e2;
  --color-border-info: #909399;
  --color-border-info-hover: #b1b3b8;
  --color-border-info-disabled: #c8c9cc;
  --color-border-info-plain: #d3d4d6;
  --color-border-info-plain-disabled: #e9e9eb;

  --color-text-default: #cfd3dc;
  --color-text-hover: #294e95;
  --color-text-active: #213e77;
  --color-text-disabled: rgba(255, 255, 255, 0.5);
  --color-text-primary: #294e95;
  --color-text-primary-disabled: #7f95bf;
  --color-text-success: #67c23a;
  --color-text-success-disabled: #a4da89;
  --color-text-warning: #e6a23c;
  --color-text-warning-disabled: #f0c78a;
  --color-text-danger: #f56c6c;
  --color-text-danger-disabled: #f9a7a7;
  --color-text-info: #909399;
  --color-text-info-disabled: #bcbec2;

  --color-bg-hover: #eaedf4;
  --color-bg-active: #213e77;
  --color-bg-disabled: transparent;
  --color-bg-disabled-plain: #fff;
  --color-bg-primary: #294e95;
  --color-bg-primary-hover: #6983b5;
  --color-bg-primary-disabled: #94a7ca;
  --color-bg-primary-plain: #eaedf4;
  --color-bg-primary-plain-hover: #294e95;
  --color-bg-primary-plain-disabled: #eaedf4;
  --color-bg-success: #67c23a;
  --color-bg-success-hover: #95d475;
  --color-bg-success-disabled: #b3e19d;
  --color-bg-success-plain: #f0f9eb;
  --color-bg-success-plain-hover: #67c23a;
  --color-bg-success-plain-disabled: #f0f9eb;
  --color-bg-warning: #e6a23c;
  --color-bg-warning-hover: #eebe77;
  --color-bg-warning-disabled: #f3d19e;
  --color-bg-warning-plain: #fdf6ec;
  --color-bg-warning-plain-hover: #e6a23c;
  --color-bg-warning-plain-disabled: #fdf6ec;
  --color-bg-danger: #f56c6c;
  --color-bg-danger-hover: #f89898;
  --color-bg-danger-disabled: #fab6b6;
  --color-bg-danger-plain: #fef0f0;
  --color-bg-danger-plain-hover: #f56c6c;
  --color-bg-danger-plain-disabled: #fef0f0;
  --color-bg-info: #909399;
  --color-bg-info-hover: #b1b3b8;
  --color-bg-info-disabled: #c8c9cc;
  --color-bg-info-plain: #f4f4f5;
  --color-bg-info-plain-hover: #909399;
  --color-bg-info-plain-disabled: #f4f4f5;

  --color-loading-overlay: rgba(255, 255, 255, 0.35);
}
