:root {
  --color-border-default: #4c4d4f;
  --color-text-default: #cfd3dc;
  --color-hover-text: #409eff;
  --color-hover-border: #213d5b;
  --color-hover-bg: #18222c;
  --color-active-border: #409eff;
  --color-disabled-text: rgba(255, 255, 255, 0.5);
  --color-disabled-border: #414243;
  --color-loading-bg: rgba(0, 0, 0, 0.3);
  --color-primary-bg: #409eff;
  --color-primary-hover-bg: #3375b9;
  --color-primary-active-bg: #66b1ff;
  --color-primary-disabled-bg: #2a598a;
  --color-primary-plain-bg: #18222c;
  --color-primary-plain-hover-bg: #409eff;
  --color-primary-plain-active-bg: #66b1ff;
  --color-primary-plain-disabled-bg: #18222c;
  --color-success-bg: #67c23a;
  --color-success-hover-bg: #4e8e2f;
  --color-success-active-bg: #85ce61;
  --color-success-disabled-bg: #3e6b27;
  --color-success-plain-bg: #1c2518;
  --color-success-plain-hover-bg: #67c23a;
  --color-success-plain-active-bg: #85ce61;
  --color-success-plain-disabled-bg: #1c2518;
  --color-warning-bg: #e6a23c;
  --color-warning-hover-bg: #a77730;
  --color-warning-active-bg: #ebb563;
  --color-warning-disabled-bg: #7d5b28;
  --color-warning-plain-bg: #292218;
  --color-warning-plain-hover-bg: #e6a23c;
  --color-warning-plain-active-bg: #ebb563;
  --color-warning-plain-disabled-bg: #292218;
  --color-danger-bg: #f56c6c;
  --color-danger-hover-bg: #b25252;
  --color-danger-active-bg: #f78989;
  --color-danger-disabled-bg: #854040;
  --color-danger-plain-bg: #2b1d1d;
  --color-danger-plain-hover-bg: #f56c6c;
  --color-danger-plain-active-bg: #f78989;
  --color-danger-plain-disabled-bg: #2b1d1d;
  --color-info-bg: #909399;
  --color-info-hover-bg: #6b6d71;
  --color-info-active-bg: #a6a9ad;
  --color-info-disabled-bg: #525457;
  --color-info-plain-bg: #202121;
  --color-info-plain-hover-bg: #909399;
  --color-info-plain-active-bg: #a6a9ad;
  --color-info-plain-disabled-bg: #202121;
  --color-text-hover: #2a598a;
  --color-text-active: #66b1ff;
}
