@import 'mixins/mixins';
@import 'common/var';

@include b(select-dropdown) {
  @include e(item) {
    font-size: $--select-font-size;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-regular);
    height: $--select-option-height;
    line-height: $--select-option-height;
    box-sizing: border-box;
    cursor: pointer;

    @include when(disabled) {
      color: $--select-option-disabled-color;
      cursor: not-allowed;

      &:hover {
        background-color: #fff;
      }
    }

    &.hover,
    &:hover {
      background-color: var(--fill-input);
    }

    &.selected {
      color: var(--color-primary);
      font-weight: bold;
    }
  }
}
