:root {
  --color-primary: #294e95;
  --color-white: #ffffff;
  --color-dark: #ffffff;
  --color-black: #000000;

  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-info: #909399;

  --color-text-primary: #303133;
  --color-text-regular: #606266;
  --color-text-secondary: #909399;
  --color-text-placeholder: #c0c4cc;
  --color-text-disabled: #6c6e72;

  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-darker: #636466;
  --border-color-extra-light: #f2f6fc;

  // Box-shadow
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  --box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  // Background
  --background-color-base: #f5f7fa;
  --background-color-overlay: #ffffff;
  --overlay-color-lighter: rgba(0, 0, 0, 0.5);

  color: var(--color-text-regular);
}

body.dark {
  --color-primary: #409eff;
  --color-white: #ffffff;
  --color-dark: #141414;
  --color-black: #000000;

  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-info: #909399;

  --color-text-primary: #e5eaf3;
  --color-text-regular: #cfd3dc;
  --color-text-secondary: #a3a6ad;
  --color-text-placeholder: #8d9095;
  --color-text-disabled: #6c6e72;

  --border-color-base: #4c4d4f;
  --border-color-light: #414243;
  --border-color-lighter: #363637;
  --border-color-darker: #636466;
  --border-color-extra-light: #2b2b2c;

  // Box-shadow
  --box-shadow-base: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);

  // Background
  --background-color-base: #262627;
  --background-color-overlay: #1d1e1f;
  --overlay-color-lighter: rgba(0, 0, 0, 0.5);

  color: var(--color-text-regular);
}

/* Color Variables
-------------------------- */
$--color-primary: var(--color-primary) !default;
$--color-white: var(--color-white) !default;
$--color-dark: var(--color-dark) !default;
$--color-black: var(--color-black) !default;

$--color-success: var(--color-success) !default;
$--color-warning: var(--color-warning) !default;
$--color-danger: var(--color-danger) !default;
$--color-info: var(--color-info) !default;

$--color-text-primary: var(--color-text-primary) !default;
$--color-text-regular: var(--color-text-regular) !default;
$--color-text-secondary: var(--color-text-secondary) !default;
$--color-text-placeholder: var(--color-text-placeholder) !default;
$--color-text-disabled: var(--color-text-disabled) !default;

$--border-color-base: var(--border-color-base) !default;
$--border-color-light: var(--border-color-light) !default;
$--border-color-lighter: var(--border-color-lighter) !default;
$--border-color-darker: var(--border-color-darker) !default;
$--border-color-extra-light: var(--border-color-extra-light) !default;

// Box-shadow
$--box-shadow-base: var(--box-shadow-base) !default;
$--box-shadow-light: var(--box-shadow-light) !default;
$--box-shadow-dark: var(--box-shadow-dark) !default;
$--box-shadow-base: var(--box-shadow-base) !default;
$--box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72) !default;

// Background
$--background-color: var(--color-dark) !default;
$--background-color-base: var(--background-color-base) !default;
$--background-color-overlay: var(--background-color-overlay) !default;

$--color-primary-light-1: color-mix(in srgb, var(--color-dark) 10%, var(--color-primary) 90%) !default;
$--color-primary-light-2: color-mix(in srgb, var(--color-dark) 20%, var(--color-primary) 80%) !default;
$--color-primary-light-3: color-mix(in srgb, var(--color-dark) 30%, var(--color-primary) 70%) !default;
$--color-primary-light-4: color-mix(in srgb, var(--color-dark) 40%, var(--color-primary) 60%) !default;
$--color-primary-light-5: color-mix(in srgb, var(--color-dark) 50%, var(--color-primary) 50%) !default;
$--color-primary-light-6: color-mix(in srgb, var(--color-dark) 60%, var(--color-primary) 40%) !default;
$--color-primary-light-7: color-mix(in srgb, var(--color-dark) 70%, var(--color-primary) 30%) !default;
$--color-primary-light-8: color-mix(in srgb, var(--color-dark) 80%, var(--color-primary) 20%) !default;
$--color-primary-light-9: color-mix(in srgb, var(--color-dark) 90%, var(--color-primary) 10%) !default;
$--color-primary-dark-2: color-mix(in srgb, var(--color-white) 20%, var(--color-primary) 80%) !default;

$--color-success-light: color-mix(in srgb, var(--color-dark) 80%, var(--color-success) 20%) !default;
$--color-warning-light: color-mix(in srgb, var(--color-dark) 80%, var(--color-warning) 20%) !default;
$--color-danger-light: color-mix(in srgb, var(--color-dark) 80%, var(--color-danger) 20%) !default;
$--color-info-light: color-mix(in srgb, var(--color-dark) 80%, var(--color-info) 20%) !default;

$--color-success-lighter: color-mix(in srgb, var(--color-dark) 90%, var(--color-success) 10%) !default;
$--color-warning-lighter: color-mix(in srgb, var(--color-dark) 90%, var(--color-warning) 10%) !default;
$--color-danger-lighter: color-mix(in srgb, var(--color-dark) 90%, var(--color-danger) 10%) !default;
$--color-info-lighter: color-mix(in srgb, var(--color-dark) 90%, var(--color-info) 10%) !default;

// Overlay
$--overlay-color-lighter: var(--overlay-color-lighter) !default;
