@import './mixins.scss';
@import './button-vars.scss';

@include inject-root-vars($colors, $texts, $borders, $background, $box-shadow);

html {
  color: var(--text-regular);
  background-color: var(--fill-overlay-dark);
  scrollbar-color: var(--border-color-base) var(--fill-overlay-dark);
}
