// $color-primary: #294e95;
$color-primary: #294e95;
$dark-color-primary: #409eff;

$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

$--color-white: #ffffff;
$--color-black: #000000;
$--color-dark: #141414;

$colors: (
  light: (
    color-primary: $color-primary,
    color-success: $--color-success,
    color-warning: $--color-warning,
    color-danger: $--color-danger,
    color-info: $--color-info,

    // @mix-color
    color-primary-light-2: mix($--color-white, $color-primary, 20%),
    color-primary-light-7: mix($--color-white, $color-primary, 70%),
    color-primary-light-9: mix($--color-white, $color-primary, 90%),
    color-success-light: mix($--color-white, $--color-success, 80%),
    color-warning-light: mix($--color-white, $--color-warning, 80%),
    color-danger-light: mix($--color-white, $--color-danger, 80%),
    color-info-light: mix($--color-white, $--color-info, 80%),
    color-success-lighter: mix($--color-white, $--color-success, 90%),
    color-warning-lighter: mix($--color-white, $--color-warning, 90%),
    color-danger-lighter: mix($--color-white, $--color-danger, 90%),
    color-info-lighter: mix($--color-white, $--color-info, 90%),
  ),
  dark: (
    color-primary: $dark-color-primary,
    color-success: $--color-success,
    color-warning: $--color-warning,
    color-danger: $--color-danger,
    color-info: $--color-info,

    color-primary-light-2: mix($--color-dark, $dark-color-primary, 20%),
    color-primary-light-7: mix($--color-dark, $dark-color-primary, 70%),
    color-primary-light-9: mix($--color-dark, $dark-color-primary, 90%),
    color-success-light: mix($--color-dark, $--color-success, 80%),
    color-warning-light: mix($--color-dark, $--color-warning, 80%),
    color-danger-light: mix($--color-dark, $--color-danger, 80%),
    color-info-light: mix($--color-dark, $--color-info, 80%),
    color-success-lighter: mix($--color-dark, $--color-success, 90%),
    color-warning-lighter: mix($--color-dark, $--color-warning, 90%),
    color-danger-lighter: mix($--color-dark, $--color-danger, 90%),
    color-info-lighter: mix($--color-dark, $--color-info, 90%),
  ),
);

$texts: (
  light: (
    text-primary: #303133,
    text-regular: #606266,
    text-secondary: #909399,
    text-placeholder: #c0c4cc,
    text-disabled: #e4e7ed,

    text-tooltip: #fff,
  ),
  dark: (
    text-primary: #e5eaf3,
    text-regular: #cfd3dc,
    text-secondary: #a3a6ad,
    text-placeholder: #8d9095,
    text-disabled: #414243,
    text-tooltip: $--color-dark,
  ),
);

$borders: (
  light: (
    border-color-base: #dcdfe6,
    border-color-hover: #c0c4cc,
    border-color-light: #e4e7ed,
    border-color-lighter: #ebeef5,
    border-color-extra-light: #f2f6fc,
    border-color-lighter-dark-light: var(--border-color-lighter),
  ),
  dark: (
    border-color-base: #4c4d4f,
    border-color-hover: #6c6e72,
    border-color-light: #414243,
    border-color-lighter: #363637,
    border-color-extra-light: #2b2b2c,
    border-color-lighter-dark-light: var(--border-color-light),
  ),
);

$background: (
  light: (
    // 基础空白填充， 暗色空白
    fill-blank: #ffffff,
    fill-input: #f5f7fa,
    fill-overlay: #ffffff,
    fill-overlay-dark: #ffffff,

    calendar-selected-bg: #f2f8fe,
  ),
  dark: (
    fill-blank: transparent,
    fill-input: #262627,
    // 基础暗色覆盖 比如 card, dialog, dropdown, poper
    fill-overlay: #1d1e1f,
    // 暗色覆盖： dialog 背景色， drawer, body 基础色等
    fill-overlay-dark: $--color-dark,

    calendar-selected-bg: var(--color-primary-light-9),
  ),
);

$box-shadow: (
  light: (
    box-shadow-base: #{0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.04)},
    box-shadow-dark: #{0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.12)},
    box-shadow-light: #{0 2px 12px 0 rgba(0, 0, 0, 0.1)},
  ),
  dark: (
    box-shadow-base: #{0px 12px 32px 4px rgba(0, 0, 0, 0.36),
    0px 8px 20px rgba(0, 0, 0, 0.72)},
    box-shadow-dark: #{0px 16px 48px 16px rgba(0, 0, 0, 0.72),
    0px 12px 32px #000000,
    0px 8px 16px -8px #000000},
    box-shadow-light: #{0px 0px 12px rgba(0, 0, 0, 0.72)},
  ),
);

$mix: (
  light: (
    base: $--color-white,
    hover-tint-percent: 20%,
    active-shade-percent: 10%,
  ),
  dark: (
    base: $--color-dark,
    hover-tint-percent: 30%,
    active-shade-percent: 20%,
  ),
);
