@import './element/common/var.scss';

$button-styles: (
  primary: (
    background: $--button-primary-background-color,
    border: $--button-primary-border-color,
    font: $--button-primary-font-color,
  ),
  success: (
    background: $--button-success-background-color,
    border: $--button-success-border-color,
    font: $--button-success-font-color,
  ),
  warning: (
    background: $--button-warning-background-color,
    border: $--button-warning-border-color,
    font: $--button-warning-font-color,
  ),
  danger: (
    background: $--button-danger-background-color,
    border: $--button-danger-border-color,
    font: $--button-danger-font-color,
  ),
  info: (
    background: $--button-info-background-color,
    border: $--button-info-border-color,
    font: $--button-info-font-color,
  ),
);

// :root {
//   @each $type, $styles in $button-styles {
//     $bg-color: map-get($styles, background);
//     $border-color: map-get($styles, border);
//     $font-color: map-get($styles, font);

//     --button-#{$type}-hover-bg: #{mix($--color-white, $bg-color, $--button-hover-tint-percent)};
//     --button-#{$type}-hover-border: #{mix($--color-white, $border-color, $--button-hover-tint-percent)};
//     --button-#{$type}-active-bg: #{mix($--color-black, $bg-color, $--button-active-shade-percent)};
//     --button-#{$type}-active-border: #{mix($--color-black, $border-color, $--button-active-shade-percent)};
//     --button-#{$type}-disabled-bg: #{mix($bg-color, $--color-white)};
//     --button-#{$type}-disabled-border: #{mix($border-color, $--color-white)};
//     --button-#{$type}-plain-bg: #{mix($--color-white, $bg-color, 90%)};
//     --button-#{$type}-plain-border: #{mix($--color-white, $bg-color, 60%)};
//     --button-#{$type}-plain-disabled-color: #{mix($--color-white, $bg-color, 40%)};
//     --button-#{$type}-plain-disabled-bg: #{mix($--color-white, $bg-color, 90%)};
//     --button-#{$type}-plain-disabled-border: #{mix($--color-white, $bg-color, 80%)};
//   }
// }

// use for dark theme
$--color-dark: #141414 !default;
$--color-primary-dark-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-text-disabled: #6c6e72 !default;

$types: primary, success, warning, danger, info;
$themes: (
  light: (
    color-primary: #294e95,
    color-text-primary: #303133,
    color-text-regular: #606266,
    color-text-secondary: #909399,
    color-text-placeholder: #c0c4cc,
    border-color-base: #dcdfe6,
    border-color-light: #e4e7ed,
    border-color-lighter: #ebeef5,
    border-color-extra-light: #f2f6fc,
    background-color-base: #f5f7fa,
  ),
  dark: (
    color-primary: #409eff,
    color-text-primary: #e5eaf3,
    color-text-regular: #cfd3dc,
    color-text-secondary: #a3a6ad,
    color-text-placeholder: #8d9095,
    border-color-base: #4c4d4f,
    border-color-light: #414243,
    border-color-lighter: #363637,
    border-color-extra-light: #2b2b2c,
    background-color-base: $--color-dark,
  ),
);

@mixin set-color-primary-level($primary-color) {
  /* 设置主色调明度递增 --color-primary-light-1 ... --color-primary-light-9*/
  @for $i from 1 through 9 {
    $percent: $i * 10%;
    --color-primary-light-#{$i}: #{mix($--color-white, $primary-color, $percent)};
  }
}

@mixin set-color-mix-level($mix-color) {
  /* 语义色浅色 */
  --color-success-light: #{mix($mix-color, $--color-success, 80%)};
  --color-warning-light: #{mix($mix-color, $--color-warning, 80%)};
  --color-danger-light: #{mix($mix-color, $--color-danger, 80%)};
  --color-info-light: #{mix($mix-color, $--color-info, 80%)};
  --color-success-lighter: #{mix($mix-color, $--color-success, 90%)};
  --color-warning-lighter: #{mix($mix-color, $--color-warning, 90%)};
  --color-danger-lighter: #{mix($mix-color, $--color-danger, 90%)};
  --color-info-lighter: #{mix($mix-color, $--color-info, 90%)};
}

@each $theme, $colors in $themes {
  $selector: if($theme == light, ':root', 'html.dark');
  $primary-color: map-get($colors, color-primary);
  $mix-color: if($theme == light, $--color-white, $--color-dark);

  #{$selector} {
    @each $k, $v in $colors {
      --#{$k}: #{$v};
    }

    @include set-color-primary-level($primary-color);

    @include set-color-mix-level($mix-color);

    .el-button {
      @each $type in $types {
        --color-#{$type}: red;
      }
    }
  }
}
