@import './element/common/var.scss';

$button-styles: (
  primary: (
    background: $--button-primary-background-color,
    border: $--button-primary-border-color,
    font: $--button-primary-font-color,
  ),
  success: (
    background: $--button-success-background-color,
    border: $--button-success-border-color,
    font: $--button-success-font-color,
  ),
  warning: (
    background: $--button-warning-background-color,
    border: $--button-warning-border-color,
    font: $--button-warning-font-color,
  ),
  danger: (
    background: $--button-danger-background-color,
    border: $--button-danger-border-color,
    font: $--button-danger-font-color,
  ),
  info: (
    background: $--button-info-background-color,
    border: $--button-info-border-color,
    font: $--button-info-font-color,
  ),
);

:root {
  .el-button {
    @each $type, $styles in $button-styles {
      $bg-color: map-get($styles, background);
      $border-color: map-get($styles, border);
      $font-color: map-get($styles, font);

      --button-#{$type}-hover-bg: #{mix($--color-white, $bg-color, $--button-hover-tint-percent)};
      --button-#{$type}-hover-border: #{mix($--color-white, $border-color, $--button-hover-tint-percent)};
      --button-#{$type}-active-bg: #{mix($--color-black, $bg-color, $--button-active-shade-percent)};
      --button-#{$type}-active-border: #{mix($--color-black, $border-color, $--button-active-shade-percent)};
      --button-#{$type}-disabled-bg: #{mix($bg-color, $--color-white)};
      --button-#{$type}-disabled-border: #{mix($border-color, $--color-white)};
      --button-#{$type}-plain-bg: #{mix($--color-white, $bg-color, 90%)};
      --button-#{$type}-plain-border: #{mix($--color-white, $bg-color, 60%)};
      --button-#{$type}-plain-disabled-color: #{mix($--color-white, $bg-color, 40%)};
      --button-#{$type}-plain-disabled-bg: #{mix($--color-white, $bg-color, 90%)};
      --button-#{$type}-plain-disabled-border: #{mix($--color-white, $bg-color, 80%)};
    }
  }
}

// use for dark theme
$--color-dark: #141414 !default;
$--color-primary-dark-2: mix($--color-white, $--color-primary, 20%) !default;
$--color-text-disabled: #6c6e72 !default;

$--box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72) !default;
$--background-color-overlay: #1d1e1f !default;
$--fill-color: #303030 !default; // !new
$--fill-color-lighter: #1d1d1d !default; // !new
$--fill-color-darker: #424243 !default; // !new
$--mask-color: rgba(0, 0, 0, 0.8) !default; // !new

$types: primary, success, warning, danger, info;
$themes: (
  light: (
    color-primary: #294e95,
    color-text-primary: #303133,
    color-text-regular: #606266,
    color-text-secondary: #909399,
    color-text-placeholder: #c0c4cc,
    border-color-base: #dcdfe6,
    border-color-base-5: mix(#dcdfe6, transparent, 50%),
    border-color-light: #e4e7ed,
    border-color-lighter: #ebeef5,
    border-color-extra-light: #f2f6fc,
    border-color-hover: #c0c4cc,
    background-color-base: #f5f7fa,
    box-shadow-base: #{0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.04)},
    box-shadow-dark: #{0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.12)},
    box-shadow-light: #{0 2px 12px 0 rgba(0, 0, 0, 0.1)},
    font-color-disabled-base: #bbb,

    checkbox-background-color: $--color-white,
    checkbox-disabled-input-fill: #edf2fc,
    radio-input-background-color: $--color-white,
    select-multiple-input-color: #666,
    select-dropdown-background: $--color-white,
    message-shadow: var(--box-shadow-base),
    message-background-color: #edf2fc,
    input-background-color: $--color-white,
    cascader-menu-fill: $--color-white,
    cascader-tag-background: #f0f2f5,
    button-default-background-color: $--color-white,
    button-disabled-font-color: var(--color-text-placeholder),
    button-disabled-background-color: $--color-white,
    button-disabled-border-color: var(--border-color-lighter),
    dialog-background-color: $--color-white,
    dialog-box-shadow: #{0 1px 3px rgba(0, 0, 0, 0.3)},
    table-header-background-color: $--color-white,
    table-fixed-box-shadow: #{0 0 10px rgba(0, 0, 0, 0.12)},
    pagination-background-color: $--color-white,
    pagination-button-disabled-background-color: $--color-white,
    popover-background-color: $--color-white,
    popover-border-color: var(--border-color-lighter),
    tooltip-color: $--color-white,
    dropdown-menuItem-hover-color: var(--color-primary-light-2),
    card-border-color: var(--border-color-lighter),
    menu-background-color: $--color-white,
    rate-icon-color: var(--color-text-placeholder),
    datepicker-inner-border-color: #e4e4e4,
    collapse-header-background-color: $--color-white,
    collapse-content-background-color: $--color-white,
    backtop-background-color: $--color-white,
    calendar-selected-background-color: #f2f8fe,
    avatar-background-color: #c0c4cc,
    descriptions-item-bordered-label-background: #fafafa,

    skeleton-color: #f2f2f2,
    skeleton-to-color: #e6e6e6,
    svg-monochrome-grey: #dcdde0,
  ),
  dark: (
    color-primary: #409eff,
    color-text-primary: #e5eaf3,
    color-text-regular: #cfd3dc,
    color-text-secondary: #a3a6ad,
    color-text-placeholder: #8d9095,
    border-color-base: #4c4d4f,
    border-color-base-5: mix(#4c4d4f, transparent, 50%),
    border-color-light: #414243,
    border-color-lighter: #363637,
    border-color-extra-light: #2b2b2c,
    border-color-hover: #6c6e72,
    background-color-base: #414243,
    box-shadow-base: #{0px 12px 32px 4px rgba(0, 0, 0, 0.36),
    0px 8px 20px rgba(0, 0, 0, 0.72)},
    box-shadow-dark: #{0px 16px 48px 16px rgba(0, 0, 0, 0.72),
    0px 12px 32px #000000,
    0px 8px 16px -8px #000000},
    box-shadow-light: #{0px 0px 12px rgba(0, 0, 0, 0.72)},
    font-color-disabled-base: $--color-text-disabled,
    checkbox-background-color: transparent,
    checkbox-disabled-input-fill: var(--background-color-base),
    radio-input-background-color: transparent,
    select-multiple-input-color: var(--color-text-regular),
    select-dropdown-background: $--background-color-overlay,
    message-shadow: var(--box-shadow-light),
    message-background-color: var(--color-info-lighter),
    input-background-color: transparent,
    cascader-menu-fill: $--background-color-overlay,
    cascader-tag-background: var($--fill-color),
    button-default-background-color: transparent,
    button-disabled-font-color: rgba(255, 255, 255, 0.5),
    button-disabled-background-color: transparent,
    button-disabled-border-color: var(--border-color-light),
    dialog-background-color: $--color-dark,
    dialog-box-shadow: var(----box-shadow-base),
    table-header-background-color: $--color-dark,
    table-fixed-box-shadow: #{0 0 10px rgba(0, 0, 0, 0.15)},
    pagination-background-color: transparent,
    pagination-button-disabled-background-color: transparent,
    popover-background-color: $--background-color-overlay,
    popover-border-color: var(--border-color-light),
    tooltip-color: $--color-dark,
    dropdown-menuItem-hover-color: var(--color-primary),
    card-border-color: var(--border-color-light),
    menu-background-color: transparent,
    rate-icon-color: #636466,
    datepicker-inner-border-color: var(--border-color-light),
    collapse-header-background-color: transparent,
    collapse-content-background-color: transparent,
    backtop-background-color: $--background-color-overlay,
    calendar-selected-background-color: var
      (
        --color-primary-light-9,
      ),
    avatar-background-color: $--color-text-disabled,

    descriptions-item-bordered-label-background: var(--background-color-base),
    skeleton-color: $--fill-color,
    skeleton-to-color: var(----border-color-light),
    svg-monochrome-grey: var(----border-color-base),
  ),
);

@mixin set-color-primary-level($primary-color) {
  /* 设置主色调明度递增 --color-primary-light-1 ... --color-primary-light-9*/
  --color-primary-light-2: #{mix($--color-white, $primary-color, 20%)};
  --color-primary-light-4: #{mix($--color-white, $primary-color, 40%)};
  --color-primary-light-7: #{mix($--color-white, $primary-color, 70%)};
  --color-primary-light-9: #{mix($--color-white, $primary-color, 90%)};
}

@mixin set-color-mix-level($mix-color) {
  /* 语义色浅色 */
  --color-success-light: #{mix($mix-color, $--color-success, 80%)};
  --color-warning-light: #{mix($mix-color, $--color-warning, 80%)};
  --color-danger-light: #{mix($mix-color, $--color-danger, 80%)};
  --color-info-light: #{mix($mix-color, $--color-info, 80%)};
  --color-success-lighter: #{mix($mix-color, $--color-success, 90%)};
  --color-warning-lighter: #{mix($mix-color, $--color-warning, 90%)};
  --color-danger-lighter: #{mix($mix-color, $--color-danger, 90%)};
  --color-info-lighter: #{mix($mix-color, $--color-info, 90%)};
}

@each $theme, $colors in $themes {
  $selector: if($theme == light, ':root', 'html.dark');
  $primary-color: map-get($colors, color-primary);
  $mix-color: if($theme == light, $--color-white, $--color-dark);

  #{$selector} {
    @each $k, $v in $colors {
      --#{$k}: #{$v};
    }

    @include set-color-primary-level($primary-color);

    @include set-color-mix-level($mix-color);
  }
}
