@import '../mixins';
@import './base.scss';

$black-primary-10: mix($--color-black, $color-primary, 10%);

$buttons: (
  light: (
    primary-active-color: $black-primary-10,
    plain-active-color: $black-primary-10,
    disabled-font-color: #c0c4cc,
    disabled-border-color: #ebeef5,
    loading-icon-bg: rgba(255, 255, 255, 0.35),
    text-hover-color: mix($--color-white, $color-primary, 20%),
    text-active-color: $black-primary-10,
    text-disabled-color: #ffffff,
  ),
  dark: (
    primary-active-color: $dark-color-primary,
    plain-active-color: var(--color-primary-light-9),
    disabled-font-color: rgba(255, 255, 255, 0.5),
    disabled-border-color: #414243,
    loading-icon-bg: rgba(255, 255, 255, 0.3),
    text-hover-color: mix($--color-dark, $dark-color-primary, 50%),
    text-active-color: mix($--color-white, $dark-color-primary, 20%),
    text-disabled-color: rgba(255, 255, 255, 0.5),
  ),
);

@mixin inject-variant($type) {
  $color: map-get(map-get($colors, light), color-#{$type});
  $color-dark: map-get(map-get($colors, dark), color-#{$type});

  @include inject-component(
    'button',
    (
      light: (
        #{$type}-hover-color: #{mix($--color-white, $color, 20%)},
        #{$type}-active-color-2: $black-primary-10,
        #{$type}-disabled-bg: #{mix($color, $--color-white)},
        #{$type}-plain-bg: #{mix($--color-white, $color, 90%)},
        #{$type}-plain-border: #{mix($--color-white, $color, 60%)},
        #{$type}-plain-disabled-color: #{mix($--color-white, $color, 40%)},
        #{$type}-plain-disabled-border: #{mix($--color-white, $color, 80%)},
      ),
      dark: (
        #{$type}-hover-color: #{mix($--color-dark, $color-dark, 30%)},
        #{$type}-active-color-2: #{mix($--color-white, $color-dark, 20%)},
        #{$type}-disabled-bg: #{mix($--color-dark, $color-dark, 50%)},
        #{$type}-plain-bg: #{mix($--color-dark, $color-dark, 90%)},
        #{$type}-plain-border: #{mix($--color-dark, $color-dark, 60%)},
        #{$type}-plain-disabled-color: #{mix($--color-dark, $color-dark, 40%)},
        #{$type}-plain-disabled-border: #{mix($--color-dark, $color-dark, 80%)},
      ),
    )
  );
}

.el-button {
  @include inject-component('button', $buttons);

  @each $v in primary success warning danger info {
    &.el-button--#{$v} {
      @include inject-variant($v);
    }
  }
}
