@import '../mixins';
@import './base.scss';

$black-primary-10: mix($--color-black, $color-primary, 10%);

$buttons: (
  light: (
    primary-active-color: $black-primary-10,
    plain-active-color: $black-primary-10,
    disabled-font-color: #c0c4cc,
    disabled-border-color: #ebeef5,
    loading-icon-bg: rgba(255, 255, 255, 0.35),
    text-hover-color: mix($--color-white, $color-primary, 20%),
    text-active-color: $black-primary-10,
  ),
  dark: (
    primary-active-color: $dark-color-primary,
    plain-active-color: var(--color-primary-light-9),
    disabled-font-color: rgba(255, 255, 255, 0.5),
    disabled-border-color: #414243,
    loading-icon-bg: rgba(255, 255, 255, 0.3),
    text-hover-color: mix($--color-dark, $dark-color-primary, 50%),
    text-active-color: mix($--color-white, $dark-color-primary, 20%),
  ),
);

$variants: (
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399,
);

@mixin inject-variant($type, $color) {
  @include inject-component(
    'button',
    (
      light: (
        #{$type}-hover-color: #{mix($--color-white, $color, 20%)},
        #{$type}-active-color-2: $black-primary-10,
        #{$type}-disabled-bg: #{mix($color, $--color-white)},
        #{$type}-plain-bg: #{mix($--color-white, $color, 90%)},
        #{$type}-plain-border: #{mix($--color-white, $color, 60%)},
        #{$type}-plain-disabled-color: #{mix($--color-white, $color, 40%)},
        #{$type}-plain-disabled-border: #{mix($--color-white, $color, 80%)},
      ),
      dark: (
        #{$type}-hover-color: #{mix($--color-dark, $color, 30%)},
        #{$type}-active-color-2: #{mix($--color-white, $color, 20%)},
        #{$type}-disabled-bg: #{mix($--color-dark, $color, 50%)},
        #{$type}-plain-bg: #{mix($--color-dark, $color, 90%)},
        #{$type}-plain-border: #{mix($--color-dark, $color, 60%)},
        #{$type}-plain-disabled-color: #{mix($--color-dark, $color, 40%)},
        #{$type}-plain-disabled-border: #{mix($--color-dark, $color, 80%)},
      ),
    )
  );
}

.el-button {
  @include inject-component('button', $buttons);

  @include inject-variant('primary', $color-primary);
  @include inject-variant('success', $--color-success);
  @include inject-variant('warning', $--color-warning);
  @include inject-variant('danger', $--color-danger);
  @include inject-variant('info', $--color-info);
}
