@import '../mixins.scss';
@import './base.scss';

$card: (
  light: (
    border-color: var(--border-color-lighter),
  ),
  dark: (
    border-color: var(--border-color-light),
  ),
);

.el-card {
  @include inject-component('card', $card);
}
