@import '../mixins.scss';
@import './base.scss';

$message: (
  light: (
    color-success-light: mix($--color-white, $--color-success, 80%),
    color-warning-light: mix($--color-white, $--color-warning, 80%),
    color-danger-light: mix($--color-white, $--color-danger, 80%),
    color-info-light: mix($--color-white, $--color-info, 80%),
    color-success-lighter: mix($--color-white, $--color-success, 90%),
    color-warning-lighter: mix($--color-white, $--color-warning, 90%),
    color-danger-lighter: mix($--color-white, $--color-danger, 90%),
    color-info-lighter: mix($--color-white, $--color-info, 90%),
  ),
  dark: (
    color-success-light: mix($--color-dark, $--color-success, 80%),
    color-warning-light: mix($--color-dark, $--color-warning, 80%),
    color-danger-light: mix($--color-dark, $--color-danger, 80%),
    color-info-light: mix($--color-dark, $--color-info, 80%),
    color-success-lighter: mix($--color-dark, $--color-success, 90%),
    color-warning-lighter: mix($--color-dark, $--color-warning, 90%),
    color-danger-lighter: mix($--color-dark, $--color-danger, 90%),
    color-info-lighter: mix($--color-dark, $--color-info, 90%),
  ),
);

.el-message {
  @include inject-component('message', $message);
}
