@import '../mixins.scss';
@import './base.scss';

$select: (
  light: (
    multiple-input-color: #666,
    tag-close-icon-bg: var(--text-placeholder),
  ),
  dark: (
    multiple-input-color: var(--text-regular),
    tag-close-icon-bg: unset,
  ),
);

.el-select {
  @include inject-component('select', $select);
}
