html.dark {
  --color-primary: #409eff;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-info: #909399;
  --text-primary: #e5eaf3;
  --text-regular: #cfd3dc;
  --text-secondary: #a3a6ad;
  --text-placeholder: #8d9095;
  --text-disabled: #6c6e72;
  --border-color-base: #4c4d4f;
  --border-color-hover: #6c6e72;
  --border-color-light: #414243;
  --border-color-lighter: #363637;
  --border-color-extra-light: #2b2b2c;
  -fill-blank: rgba(0, 0, 0, 0);
  -fill-base: #262627;
  -fill-overlay: #1d1e1f;
  -fill-dark: #141414;
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  --box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --color-primary-light-1: #3c90e8;
  --color-primary-light-2: #3782d0;
  --color-primary-light-3: #3375b9;
  --color-primary-light-4: #2e67a1;
  --color-primary-light-5: #2a598a;
  --color-primary-light-6: #264b72;
  --color-primary-light-7: #213d5b;
  --color-primary-light-8: #1d3043;
  --color-primary-light-9: #18222c;
  --color-success-light: #25371c;
  --color-success-lighter: #1c2518;
  --color-warning-light: #3e301c;
  --color-warning-lighter: #292218;
  --color-danger-light: #412626;
  --color-danger-lighter: #2b1d1d;
  --color-info-light: #2d2d2f;
  --color-info-lighter: #202121;
  --slider-button-hover-color: #3e99f7;
  --checkbox-disabled-input-fill: #262627;
  --select-multiple-input-color: var(--text-regular);
  --message-shadow: var(--box-shadow-light);
  --message-background-color: var(--color-info-lighter);
  --cascader-tag-background: #303030;
  --dialog-box-shadow: var(--box-shadow-base);
  --table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  --popover-border-color: var(--border-color-light);
  --dropdown-menuItem-hover-color: var(--color-primary);
  --card-border-color: var(--border-color-light);
  --rate-icon-color: #636466;
  --datepicker-inner-border-color: var(--border-color-light);
  --calendar-selected-background-color: var(--color-primary-light-9);
  --avatar-background-color: var(--text-disabled);
  --skeleton-color: #303030;
  --skeleton-to-color: var(--border-color-light);
  --svg-monochrome-grey: var(--border-color-base);
}
html.dark .el-button {
  --button-active-color: #409eff;
  --button-active-background: var(--color-primary-light-9);
  --button-loading-background: rgba(0, 0, 0, 0.3);
  --button-text-hover-color: var(--color-primary-light-5);
  --button-text-active-color: #66b1ff;
  --button-disabled-color: var(--text-placeholder);
  --button-disabled-font-color: rgba(255, 255, 255, 0.5);
  --button-disabled-border-color: var(--border-color-light);
  --button-primary-hover: #3375b9;
  --button-primary-active: #66b1ff;
  --button-primary-disabled: #2a598a;
  --button-primary-plain-background: #18222c;
  --button-primary-plain-border-color: #264b72;
  --button-primary-plain-disabled-color: #2a598a;
  --button-primary-plain-disabled-background: #18222c;
  --button-primary-plain-disabled-border-color: #1d3043;
  --button-success-hover: #4e8e2f;
  --button-success-active: #85ce61;
  --button-success-disabled: #3e6b27;
  --button-success-plain-background: #1c2518;
  --button-success-plain-border-color: #355a23;
  --button-success-plain-disabled-color: #3e6b27;
  --button-success-plain-disabled-background: #1c2518;
  --button-success-plain-disabled-border-color: #25371c;
  --button-warning-hover: #a77730;
  --button-warning-active: #ebb563;
  --button-warning-disabled: #7d5b28;
  --button-warning-plain-background: #292218;
  --button-warning-plain-border-color: #684d24;
  --button-warning-plain-disabled-color: #7d5b28;
  --button-warning-plain-disabled-background: #292218;
  --button-warning-plain-disabled-border-color: #3e301c;
  --button-danger-hover: #b25252;
  --button-danger-active: #f78989;
  --button-danger-disabled: #854040;
  --button-danger-plain-background: #2b1d1d;
  --button-danger-plain-border-color: #6e3737;
  --button-danger-plain-disabled-color: #854040;
  --button-danger-plain-disabled-background: #2b1d1d;
  --button-danger-plain-disabled-border-color: #412626;
  --button-info-hover: #6b6d71;
  --button-info-active: #a6a9ad;
  --button-info-disabled: #525457;
  --button-info-plain-background: #202121;
  --button-info-plain-border-color: #464749;
  --button-info-plain-disabled-color: #525457;
  --button-info-plain-disabled-background: #202121;
  --button-info-plain-disabled-border-color: #2d2d2f;
}
