:root {
  --color-primary: #294e95;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-info: #909399;
  --color-white: #fff;
  --text-primary: #303133;
  --text-regular: #606266;
  --text-secondary: #909399;
  --text-placeholder: #c0c4cc;
  --text-disabled: #bbb;
  --border-color-base: #dcdfe6;
  --border-color-hover: #c0c4cc;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-light: #f2f6fc;
  --fill-blank: #fff;
  --fill-base: #f5f7fa;
  --fill-overlay: #fff;
  --fill-dark: #fff;
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  --box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --color-primary-light-1: #3e60a0;
  --color-primary-light-2: #5471aa;
  --color-primary-light-3: #6983b5;
  --color-primary-light-4: #7f95bf;
  --color-primary-light-5: #94a7ca;
  --color-primary-light-6: #a9b8d5;
  --color-primary-light-7: #bfcadf;
  --color-primary-light-8: #d4dcea;
  --color-primary-light-9: #eaedf4;
  --color-success-light: #e1f3d8;
  --color-success-lighter: #f0f9eb;
  --color-warning-light: #faecd8;
  --color-warning-lighter: #fdf6ec;
  --color-danger-light: #fde2e2;
  --color-danger-lighter: #fef0f0;
  --color-info-light: #e9e9eb;
  --color-info-lighter: #f4f4f5;
  --slider-button-hover-color: #284c91;
  --checkbox-disabled-input-fill: #edf2fc;
  --select-multiple-input-color: #666;
  --message-shadow: var(--box-shadow-base);
  --message-background-color: #edf2fc;
  --cascader-tag-background: #f0f2f5;
  --dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  --table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  --popover-border-color: var(--border-color-lighter);
  --dropdown-menuItem-hover-color: var(--color-primary-light-2);
  --card-border-color: var(--border-color-lighter);
  --rate-icon-color: var(---text-placeholder);
  --datepicker-inner-border-color: #e4e4e4;
  --calendar-selected-background-color: #f2f8fe;
  --avatar-background-color: #c0c4cc;
  --skeleton-color: #f2f2f2;
  --skeleton-to-color: #e6e6e6;
  --svg-monochrome-grey: #dcdde0;
}
:root .el-button {
  --button-active-color: #294e95;
  --button-loading-background: rgba(255, 255, 255, 0.35);
  --button-text-hover-color: #5471aa;
  --button-text-active-color: #254686;
  --button-disabled-color: #fff;
  --button-disabled-font-color: var(--text-placeholder);
  --button-disabled-border-color: var(--border-color-lighter);
  --button-primary-hover: #5471aa;
  --button-primary-active: #254686;
  --button-primary-disabled: #94a7ca;
  --button-primary-plain-background: #eaedf4;
  --button-primary-plain-border-color: #a9b8d5;
  --button-primary-plain-disabled-color: #7f95bf;
  --button-primary-plain-disabled-background: #eaedf4;
  --button-primary-plain-disabled-border-color: #d4dcea;
  --button-success-hover: #85ce61;
  --button-success-active: #5daf34;
  --button-success-disabled: #b3e19d;
  --button-success-plain-background: #f0f9eb;
  --button-success-plain-border-color: #c2e7b0;
  --button-success-plain-disabled-color: #a4da89;
  --button-success-plain-disabled-background: #f0f9eb;
  --button-success-plain-disabled-border-color: #e1f3d8;
  --button-warning-hover: #ebb563;
  --button-warning-active: #cf9236;
  --button-warning-disabled: #f3d19e;
  --button-warning-plain-background: #fdf6ec;
  --button-warning-plain-border-color: #f5dab1;
  --button-warning-plain-disabled-color: #f0c78a;
  --button-warning-plain-disabled-background: #fdf6ec;
  --button-warning-plain-disabled-border-color: #faecd8;
  --button-danger-hover: #f78989;
  --button-danger-active: #dd6161;
  --button-danger-disabled: #fab6b6;
  --button-danger-plain-background: #fef0f0;
  --button-danger-plain-border-color: #fbc4c4;
  --button-danger-plain-disabled-color: #f9a7a7;
  --button-danger-plain-disabled-background: #fef0f0;
  --button-danger-plain-disabled-border-color: #fde2e2;
  --button-info-hover: #a6a9ad;
  --button-info-active: #82848a;
  --button-info-disabled: #c8c9cc;
  --button-info-plain-background: #f4f4f5;
  --button-info-plain-border-color: #d3d4d6;
  --button-info-plain-disabled-color: #bcbec2;
  --button-info-plain-disabled-background: #f4f4f5;
  --button-info-plain-disabled-border-color: #e9e9eb;
}
