$white: #fff;
$dark: #141414;
$black: #000;

@mixin define-vars($name, $vars) {
  @each $type, $value in $vars {
    --#{$name}-#{$type}: #{$value};
  }
}

@mixin inject-light-vars() {
  $color: (
    primary: #294e95,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399,
  );

  $primary: map-get($color, primary);
  $hover-percent: 20%;
  $active-percent: 10%;

  $button: (
    // use for active border color & color
    active-color: $primary,
    loading-background: rgba(255, 255, 255, 0.35),
    text-hover-color: mix($white, $primary, $hover-percent),
    text-active-color: mix($black, $primary, $active-percent),
    disabled-color: #fff,
    disabled-font-color: var(--text-placeholder),
    disabled-border-color: var(--border-color-lighter)
  );

  @each $type, $value in $color {
    $button: map-merge(
      $button,
      (
        #{$type}-hover: mix($white, $value, $hover-percent),
        #{$type}-active: mix($black, $value, $active-percent),
        #{$type}-disabled: mix($value, $white),
        #{$type}-plain-background: mix($white, $value, 90%),
        #{$type}-plain-border-color: mix($white, $value, 60%),
        #{$type}-plain-disabled-color: mix($white, $value, 40%),
        #{$type}-plain-disabled-background: mix($white, $value, 90%),
        #{$type}-plain-disabled-border-color: mix($white, $value, 80%)
      )
    );
  }

  :root {
    @include define-vars(color, $color);
    --color-white: #fff;

    --text-primary: #303133;
    --text-regular: #606266;
    --text-secondary: #909399;
    --text-placeholder: #c0c4cc;
    --text-disabled: #bbb;

    --border-color-base: #dcdfe6;
    --border-color-hover: #c0c4cc;
    --border-color-light: #e4e7ed;
    --border-color-lighter: #ebeef5;
    --border-color-extra-light: #f2f6fc;

    --fill-blank: #fff;
    --fill-base: #f5f7fa;
    --fill-overlay: #fff;
    --fill-dark: #fff;

    --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
    --box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    @for $i from 1 through 9 {
      --color-primary-light-#{$i}: #{mix($white, $primary, $i * 10%)};
    }
    @each $type, $value in map-remove($color, primary) {
      --color-#{$type}-light: #{mix($white, $value, 80%)};
      --color-#{$type}-lighter: #{mix($white, $value, 90%)};
    }

    @include define-vars(button, $button);
    --slider-button-hover-color: #{mix($primary, black, 97%)};
    --checkbox-disabled-input-fill: #edf2fc;
    --checkbox-button-box-shadow: -1px 0 0 0 var(--color-primary-light-4);

    --select-multiple-input-color: #666;
    --message-shadow: var(--box-shadow-base);
    --message-background-color: #edf2fc;
    --cascader-tag-background: #f0f2f5;
    --dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    --table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    --popover-border-color: var(--border-color-lighter);
    --dropdown-menuItem-hover-color: var(--color-primary-light-2);
    --card-border-color: var(--border-color-lighter);
    --rate-icon-color: var(---text-placeholder);
    --datepicker-inner-border-color: #e4e4e4;
    --calendar-selected-background-color: #f2f8fe;
    --avatar-background-color: #c0c4cc;
    --skeleton-color: #f2f2f2;
    --skeleton-to-color: #e6e6e6;
    --svg-monochrome-grey: #dcdde0;
  }
}

@include inject-light-vars();
