@mixin define-vars($name, $vars) {
  @each $type, $value in $vars {
    --#{$name}-#{$type}: #{$value};
  }
}
$white: #fff;
$dark: #141414;
$black: #000;

html.dark {
  $color: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399,
  );

  $text: (
    primary: #e5eaf3,
    regular: #cfd3dc,
    secondary: #a3a6ad,
    placeholder: #8d9095,
    disabled: #414243,
  );

  $border: (
    color-base: #4c4d4f,
    color-hover: #6c6e72,
    color-light: #414243,
    color-lighter: #363637,
    color-extra-light: #2b2b2c,
  );

  $fill: (
    blank: #ffffff,
    input: #f5f7fa,
    overlay: #ffffff,
    overlay-dark: #ffffff,
  );

  $box-shadow: (
    base: #{0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.04)},
    dark: #{0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.12)},
    light: #{0 2px 12px 0 rgba(0, 0, 0, 0.1)},
  );

  $primary: map-get($color, primary);

  @include define-vars(color, $color);
  @include define-vars(text, $text);
  @include define-vars(border, $border);
  @include define-vars(fill, $fill);
  @include define-vars(box-shadow, $box-shadow);
  $primary: map-get($color, primary);
  @for $i from 1 through 9 {
    --color-primary-light-#{$i}: #{mix($white, $primary, $i * 10%)};
  }
  @each $type, $value in map-remove($color, primary) {
    --color-#{$type}-light: #{mix($white, $value, 80%)};
    --color-#{$type}-lighter: #{mix($white, $value, 90%)};
  }

  $hover-percent: 30%;
  $active-percent: 20%;
  $success: map-get($color, success);
  $warning: map-get($color, warning);
  $danger: map-get($color, danger);
  $info: map-get($color, info);

  $button: (
    // use for active border color & color
    active-color: $primary,
    active-background: var(--color-primary-light-9),
    loading-background: rgba(0, 0, 0, 0.3),
    text-hover-color: var(--color-primary-light-5),
    text-active-color: mix($white, $primary, 20%),
    disabled-color: var(--text-placeholder),
    // primary-hover: mix($dark, $primary, $hover-percent),
    // primary-active: mix($white, $primary, $active-percent),
    // primary-disabled: mix($dark, $white, 50%),
    // primary-plain-background: mix($dark, $primary, 90%),
    // primary-plain-border-color: mix($dark, $primary, 60%),
    // primary-plain-disabled-color: mix($dark, $primary, 50%),
    // primary-plain-disabled-background: mix($dark, $primary, 90%),
    // primary-plain-disabled-border-color: mix($dark, $primary, 80%)
  );

  @each $type, $value in $color {
    $button: map-merge(
      $button,
      (
        #{$type}-hover: mix($dark, $value, $hover-percent),
        #{$type}-active: mix($white, $value, $active-percent),
        #{$type}-disabled: mix($dark, $white, 50%),
        #{$type}-plain-background: mix($dark, $value, 90%),
        #{$type}-plain-border-color: mix($dark, $value, 60%),
        #{$type}-plain-disabled-color: mix($dark, $value, 50%),
        #{$type}-plain-disabled-background: mix($dark, $value, 90%),
        #{$type}-plain-disabled-border-color: mix($dark, $value, 80%)
      )
    );
  }

  .el-button {
    @include define-vars(button, $button);
  }
}
