@import './mixins.scss';

$black: #000;
$white: #fff;

@mixin inject-light-theme() {
  $theme: (
    color: (
      primary: #294e95,
      success: #67c23a,
      warning: #e6a23c,
      danger: #f56c6c,
      info: #909399,
    ),
    text: (
      primary: #303133,
      regular: #606266,
      secondary: #909399,
      placeholder: #c0c4cc,
    ),
    border: (
      color-base: #dcdfe6,
      color-hover: #c0c4cc,
      color-light: #e4e7ed,
      color-lighter: #ebeef5,
      color-extra-light: #f2f6fc,
    ),
    // 填充色 (背景色)
    fill:
      (
        blank: transparent,
      ),
    box-shadow: (
      base: #{0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04)},
      dark: #{0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.12)},
      light: #{0 2px 12px 0 rgba(0, 0, 0, 0.1)},
    ),
  );

  :root {
    @each $k, $v in $theme {
      @include define-vars($k, $v);
    }
    @include define-vars(text, gen-mix-color($mix-color: $white, $color: map-get($theme, color)));
  }

  // components
  $hover-percent: 20%;
  $active-percent: 10%;
  $color: map-get($theme, color);
  $primary: map-get($color, primary);

  $components: (
    button: (
      active-color: #{mix($black, $primary, $active-percent)},
      hover-color: #{mix($white, $primary, $hover-percent)},
      // 按钮
    ),
  );

  .el-button {
    $button: (
      active-color: #{mix($black, $primary, $active-percent)},
      hover-color: #{mix($white, $primary, $hover-percent)},
      disabled-color: #fff,
    );

    @include define-vars(button, $button);

    @each $type, $value in $color {
      &.el-button--#{$type} {
        @include define-vars(
          button,
          (
            #{$type}-hover: #{mix($white, $value, $hover-percent)},
            #{$type}-active: #{mix($black, $value, $active-percent)},
            #{$type}-disabled: #{mix($value, $white)},
            #{$type}-plain-background: #{mix($white, $value, 90%)},
            #{$type}-plain-border-color: #{mix($white, $value, 60%)},
            #{$type}-plain-disabled-color: #{mix($white, $value, 40%)},
            #{$type}-plain-disabled-background-color: #{mix($white, $value, 90%)}
          )
        );
      }
    }
  }
}

@include inject-light-theme();
