@import '../common/var';

$--button-primary-hover-bg: mix($--color-white, $--button-primary-background-color, $--button-hover-tint-percent);
$--button-primary-hover-border: mix($--color-white, $--button-primary-border-color, $--button-hover-tint-percent);
$--button-primary-active-bg: mix($--color-white, $--button-primary-background-color, $--button-active-shade-percent);
$--button-primary-active-border: mix($--color-white, $--button-primary-border-color, $--button-active-shade-percent);
$--button-primary-5: mix($--color-white, $--button-primary-background-color, 50%);
$--button-primary-9: mix($--color-white, $--button-primary-background-color, 90%);
$--button-primary-border-5: mix($--color-white, $--button-primary-border-color, 50%);
$--button-primary-plain-border-6: mix($--color-white, $--button-primary-background-color, 60%);
$--button-primary-plain-disabled-border-8: mix($--color-white, $--button-primary-background-color, 80%);

// $--button-primary-hover-bg: mix($--color-dark, $--button-primary-background-color, $--button-hover-tint-percent);
// $--button-primary-hover-border: mix($--color-dark, $--button-primary-border-color, $--button-hover-tint-percent);
// $--button-primary-active-bg: mix($--color-white, $--button-primary-background-color, $--button-active-shade-percent);
// $--button-primary-active-border: mix($--color-white, $--button-primary-border-color, $--button-active-shade-percent);
// $--button-primary-5: mix($--color-dark, $--button-primary-background-color, 50%);
// $--button-primary-9: mix($--color-dark, $--button-primary-background-color, 90%);
// $--button-primary-border-5: mix($--color-dark, $--button-primary-border-color, 50%);
// $--button-primary-plain-border-6: mix($--color-dark, $--button-primary-background-color, 60%);
// $--button-primary-plain-disabled-border-8: mix($--color-dark, $--button-primary-background-color, 80%);

@mixin button-variant(
  $--button-primary-font-color,
  $--button-primary-background-color,
  $--button-primary-border-color
) {
  color: $--button-primary-font-color;
  background-color: $--button-primary-background-color;
  border-color: $--button-primary-border-color;

  &:hover,
  &:focus {
    background: $--button-primary-hover-bg;
    border-color: $--button-primary-hover-border;
    color: $--button-primary-font-color;
  }

  &:active {
    background: $--button-primary-active-bg;
    border-color: $--button-primary-active-border;
    color: $--button-primary-font-color;
    outline: none;
  }

  &.is-active {
    background: $--button-primary-active-bg;
    border-color: $--button-primary-active-border;
    color: $--button-primary-font-color;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--button-disabled-font-color;
      background-color: $--button-primary-5;
      border-color: $--button-primary-border-5;
    }
  }

  &.is-plain {
    color: $--button-primary-background-color;
    background: $--button-primary-9;
    border-color: $--button-primary-plain-border-6;

    &:hover,
    &:focus {
      background: $--button-primary-background-color;
      border-color: $--button-primary-background-color;
      color: $--color-white;
    }

    &:active {
      background: $--button-primary-active-bg;
      border-color: $--button-primary-active-bg;
      color: $--color-white;
      outline: none;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $--button-primary-5;
        background-color: $--button-primary-9;
        border-color: $--button-primary-plain-disabled-border-8;
      }
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;

  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
