@import './mixin.scss';

$colors: (
  primary: #93c5fd,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399,
);

$hover-percent: 30%;
$active-percent: 20%;
$primary: map-get($colors, primary);

html.dark {
  @include define-vars(color, $colors);
  @include generate-color-vars($colors, $dark);

  --text-primary: #e5eaf3;
  --text-regular: #cfd3dc;
  --text-secondary: #a3a6ad;
  --text-placeholder: #8d9095;
  --text-disabled: #414243;

  --border-color-base: #4c4d4f;
  --border-color-hover: #6c6e72;
  --border-color-light: #414243;
  --border-color-lighter: #363637;
  --border-color-extra-light: #2b2b2c;

  --fill-body: #000;
  --fill-blank: transparent;
  --fill-base: #262627;
  --fill-overlay: #18181b;
  --fill-dark: #141414;

  --box-shadow-base: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000, 0px 8px 16px -8px #000000;
  --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);

  .el-button {
    --button-text-color: var(--color-primary);
    --button-active-color: #{$primary};
    --button-loading-background: rgba(255, 255, 255, 0.35);
    --button-text-hover-color: #{mix($white, $primary, $hover-percent)};
    --button-text-active-color: #{mix($black, $primary, $active-percent)};
    --button-disabled-color: #fff;
    --button-disabled-font-color: var(--text-placeholder);
    --button-disabled-border-color: var(--border-color-lighter);

    @include generate-button-vars($colors, $dark, $white, $hover-percent, $active-percent);

    --button-primary-hover: #60a5fa;
    --button-primary-active: #3b82f6;
    --button-primary-text-color: #18181b;
  }

  .el-link {
    @include generate-link-vars($colors, $dark);
  }

  --loading-background: rgba(0, 0, 0, 0.8);
  --slider-button-hover-color: #{mix($primary, black, 97%)};
  --checkbox-disabled-input-fill: #262627;
  --checkbox-button-box-shadow: -1px 0 0 0 var(--color-primary-light-7);
  --select-multiple-input-color: var(--text-regular);
  --message-shadow: var(--box-shadow-light);
  --message-background-color: var(--color-info-lighter);
  --cascader-tag-background: #303030;
  --dialog-box-shadow: var(--box-shadow-base);
  --table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  --popover-border-color: var(--border-color-light);
  --dropdown-menuItem-hover-color: var(--color-primary);
  --card-border-color: var(--border-color-light);
  --rate-icon-color: #636466;
  --datepicker-inner-border-color: var(--border-color-light);
  --calendar-selected-background-color: var(--color-primary-light-9);
  --avatar-background-color: var(--text-disabled);
  --skeleton-color: #303030;
  --skeleton-to-color: var(--border-color-light);
  --svg-monochrome-grey: var(--border-color-base);
  --color-picker-hover-color: tint(#409eff, 30%);
  --descriptions-item-bordered-label-background: var(--fill-base);
}

html {
  background-color: var(--fill-body);
  color: var(--text-regular);
}
