:root {
  --color-white: #ffffff;
  --color-dark: #ffffff;
  --color-black: #000000;

  --color-primary: #294e95;
  --color-primary-hover: #5471aa;
  --color-primary-active: #254686;
  --color-primary-disabled: #94a7ca;
  --color-primary-plain-bg: #eaedf4;
  --color-primary-plain-border: #a9b8d5;

  --color-success: #67c23a;
  --color-success-hover: #85ce61;
  --color-success-active: #5daf34;
  --color-success-disabled: #b3e19d;
  --color-success-plain-bg: #f0f9eb;
  --color-success-plain-border: #c2e7b0;

  --color-warning: #e6a23c;
  --color-warning-hover: #ebb563;
  --color-warning-active: #cf9236;
  --color-warning-disabled: #c8c9cc;
  --color-warning-plain-bg: #fdf6ec;
  --color-warning-plain-border: #f5dab1;

  --color-danger: #f56c6c;
  --color-danger-hover: #f78989;
  --color-danger-active: #dd6161;
  --color-danger-disabled: #fab6b6;
  --color-danger-plain-bg: #fef0f0;
  --color-danger-plain-border: #fbc4c4;

  --color-info: #909399;
  --color-info-hover: #a6a9ad;
  --color-info-active: #82848a;
  --color-info-disabled: #c8c9cc;
  --color-info-plain-bg: #f4f4f5;
  --color-info-plain-border: #d3d4d6;

  --color-text-primary: #303133;
  --color-text-regular: #606266;
  --color-text-secondary: #909399;
  --color-text-placeholder: #c0c4cc;
  --color-text-disabled: #6c6e72;

  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-darker: #636466;
  --border-color-extra-light: #f2f6fc;

  // Box-shadow
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  --box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  // Background
  --background-color-base: #f5f7fa;
  --background-color-overlay: #ffffff;
  --overlay-color-lighter: rgba(0, 0, 0, 0.5);

  --color-primary-light-1: #36589d;
  --color-primary-light-2: #4363a5;
  --color-primary-light-3: #506dad;
  --color-primary-light-4: #5d78b5;
  --color-primary-light-5: #6a82bd;
  --color-primary-light-6: #778dc5;
  --color-primary-light-7: #8497cd;
  --color-primary-light-8: #91a2d5;
  --color-primary-light-9: #9eacdd;
  --color-primary-dark-2: #5471aa;

  --color-success-light: #d6e8cd;
  --color-warning-light: #f5e3cc;
  --color-danger-light: #fbd6d6;
  --color-info-light: #e3e4e6;

  --color-success-lighter: #e8f4e3;
  --color-warning-lighter: #f9ecd9;
  --color-danger-lighter: #fdebeb;
  --color-info-lighter: #ebecee;

  --color-link-active: #294e95;
  --color-link-hover: #4363a5;

  color: var(--color-text-regular);
}
