@import './vars/light.scss';
@import './vars/dark.scss';

$themes: (
  light: $light,
  dark: $dark,
);

// used for calc mix color
@mixin apply-themes() {
  @each $theme, $attrs in $themes {
    $selector: if($theme == light, '&', 'html.#{$theme} &');
    #{$selector} {
      @content ($attrs, $theme);
    }
  }
}
