@import '../common/var';

@mixin button-variant($base-bg, $hover-bg, $active-bg, $disabled-bg, $plain-bg, $plain-border) {
  color: #ffffff;
  background-color: $base-bg;
  border-color: $base-bg;

  &:hover,
  &:focus {
    background: $hover-bg;
    border-color: $hover-bg;
    color: #ffffff;
  }
  &:active {
    background: $active-bg;
    border-color: $active-bg;
    color: #ffffff;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $disabled-bg;
      border-color: $disabled-bg;
    }
  }

  &.is-plain {
    color: $base-bg;
    background: $plain-bg;
    border-color: $plain-border;

    &:hover,
    &:focus {
      background: $base-bg;
      border-color: $base-bg;
      color: #ffffff;
    }

    &:active {
      background: $active-bg;
      border-color: $active-bg;
      color: #ffffff;
      outline: none;
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;

  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
