@import '../common/var';

@mixin button-variant($type) {
  $color: var(--color-#{$type});
  $hover-color: var(--button-#{$type}-hover-color);
  $active-color: var(--button-#{$type}-active-color-2);
  $disabled-bg: var(--button-#{$type}-disabled-bg);

  $plain-bg: var(--button-#{$type}-plain-bg);
  $plain-border: var(--button-#{$type}-plain-border);
  $plain-disabled-color: var(--button-#{$type}-plain-disabled-color);
  $plain-disabled-border: var(--button-#{$type}-plain-disabled-border);

  color: #ffffff;
  background-color: $color;
  border-color: $color;

  &:hover,
  &:focus {
    background: $hover-color;
    border-color: $hover-color;
    color: #ffffff;
  }

  &:active {
    background: $active-color;
    border-color: $active-color;
    color: #ffffff;
    outline: none;
  }

  &.is-active {
    background: $active-color;
    border-color: $active-color;
    color: #ffffff;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: var(--button-text-disabled-color);
      background-color: $disabled-bg;
      border-color: $disabled-bg;
    }
  }

  &.is-plain {
    color: $color;
    background: $plain-bg;
    border-color: $plain-border;

    &:hover,
    &:focus {
      background: $color;
      border-color: $color;
      color: $--color-white;
    }

    &:active {
      background: $active-color;
      border-color: $active-color;
      color: $--color-white;
      outline: none;
    }

    &.is-disabled {
      &,
      &:hover,
      &:focus,
      &:active {
        color: $plain-disabled-color;
        background-color: $plain-bg;
        border-color: $plain-disabled-border;
      }
    }
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
