@import './mixins/var';
@import './color.scss';

$active-color: mix($--color-black, $--color-primary, 10%);

$buttons: (
  light: (
    active-color: $active-color,
    plain-active-color: $active-color,
  ),
  dark: (
    active-color: $dark-color-primary,
    plain-active-color: var(--color-primary-light-9),
  ),
);

.el-button {
  @include inject-component('button', $buttons);
}
