@import './vars.scss';

// 将主题变量注入到 :root 和 html.#{$theme} 中
@mixin inject-root-vars($theme-maps...) {
  $merged-themes: ();

  @each $map in $theme-maps {
    @each $theme, $variables in $map {
      @if not map-has-key($merged-themes, $theme) {
        $merged-themes: map-merge(
          $merged-themes,
          (
            $theme: (),
          )
        );
      }
      $merged-themes: map-merge(
        $merged-themes,
        (
          $theme: map-merge(map-get($merged-themes, $theme), $variables),
        )
      );
    }
  }

  @each $theme, $variables in $merged-themes {
    $selector: if($theme == light, ':root', 'html.#{$theme}');
    #{$selector} {
      @each $name, $value in $variables {
        --#{$name}: #{$value};
      }
    }
  }
}

/**
用于根据主题（light 或 dark）动态生成样式
使用方式：
.el-button {
  @include apply-themes() using ($theme) {
    $primary: map-get($colors, $theme, color-primary);

    color: $primary;
    background-color: if($theme == light, red, blue);
  }
}

生成的结果：
.el-button {
  color: #294e95;
  background-color: red;
}
html.dark .el-button {
  color: #409eff;
  background-color: blue;
}
  
*/
@mixin apply-themes() {
  @each $theme in light, dark {
    $selector: if($theme == light, '&', 'html.#{$theme} &');
    #{$selector} {
      @content ($theme);
    }
  }
}

/**
.el-button {
  $colors: (
    light: (
      primary: red,
    ),
    dark: (
      primary: blue,
    ),
  );

  color: get-theme-var(light, $colors, primary); // red
}
*/
@function get-theme-var($theme, $vars, $key) {
  @return map-get(map-get($vars, $theme), $key);
}

@mixin set-component-css-var($name, $variables) {
  @each $attribute, $value in $variables {
    --#{$name}-#{$attribute}: #{$value};
  }
}

/// 主题变量生成器
/// @param {String} $component - 组件名称（如：button）
/// @param {Map} $themes - 主题配置映射表（需包含light主题）
@mixin inject-component($component, $themes) {
  & {
    @include set-component-css-var($component, map-get($themes, 'light'));
  }

  html.dark & {
    @include set-component-css-var($component, map-get($themes, 'dark'));
  }
}
