:root {
  --color-primary: #294e95;
  --color-success: #67c23a;
  --color-warning: #e6a23c;
  --color-danger: #f56c6c;
  --color-info: #f4f8ff;
  --color-primary-light-2: #5471aa;
  --color-primary-light-7: #bfcadf;
  --color-primary-light-9: #eaedf4;
  --color-success-light: #e1f3d8;
  --color-warning-light: #faecd8;
  --color-danger-light: #fde2e2;
  --color-info-light: #fdfeff;
  --color-success-lighter: #f0f9eb;
  --color-warning-lighter: #fdf6ec;
  --color-danger-lighter: #fef0f0;
  --color-info-lighter: #fefeff;
  --text-primary: #303133;
  --text-regular: #606266;
  --text-secondary: #909399;
  --text-placeholder: #c0c4cc;
  --border-base: #dcdfe6;
  --border-light: #e4e7ed;
  --border-lighter: #ebeef5;
  --border-extra-light: #f2f6fc;
  --border-hover: #c0c4cc;
  --background-base: #f5f7fa;
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  --box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
  --box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.el-button {
  --button-disabled-color: #c0c4cc;
  --button-disabled-background: #ffffff;
  --button-disabled-border: #ebeef5;
}
.el-input {
  --input-background: #ffffff;
  --input-focus-fill: #ffffff;
}
.el-select {
  --select-dropdown-background: #ffffff;
}
.el-dialog {
  --dialog-background: #ffffff;
  --dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.el-table {
  --table-header-background: #ffffff;
}
.el-pagination {
  --pagination-background: #ffffff;
  --pagination-disabled-background: #ffffff;
}
.el-popover {
  --popover-background: #ffffff;
}
.el-tooltip {
  --tooltip-color: #ffffff;
}
.el-menu {
  --menu-background: #ffffff;
}
.el-collapse {
  --collapse-header-background: #ffffff;
  --collapse-content-background: #ffffff;
}
.el-backtop {
  --backtop-background: #ffffff;
}
.el-avatar {
  --avatar-background: #c0c4cc;
}
.el-skeleton {
  --skeleton-color: #f2f2f2;
  --skeleton-to-color: #e6e6e6;
}
.el-svg {
  --svg-monochrome-grey: #dcdde0;
}
.el-rate {
  --rate-icon-color: #c0c4cc;
}
.el-descriptions {
  --descriptions-label-background: #fafafa;
}
